[submodule "boolMaster"]
	path = boolMaster
	url = https://github.com/hugodecasta/boolMaster.git
[submodule "GoogleSignInJS"]
	path = GoogleSignInJS
	url = https://github.com/hugodecasta/GoogleSignInJS.git
[submodule "helpme"]
	path = helpme
	url = https://github.com/hugodecasta/helpme
