body {
    margin:0px;
    padding:0px;
    background:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

    color: #fff;
}

/* ------------------------------------------------- */

.createBtn {
    width:50px;
    height:50px;
    background: #ff0015;
    border-radius: 1000px;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    top:10px;
    left:10px;
    transition:all 0.2s;
}

.createBtn.center {
    top:calc(50% - 25px);
    left:calc(50% - 25px);
}

.createBtn:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.2s;
}

/* ------------------------------------------------- */

.concept {
    position: absolute !important;
    left:20px;
    top:20px;
    z-index: 0;
}

.concept.selected {
    z-index: 2;
}

.concept .conceptData{
    display: none;
    opacity: 0;
    pointer-events: none;
}

.concept.selected .conceptData{
    display: block;
    opacity: 1;
    pointer-events: all;
}

/* ---------- */

.conceptName {
    position: absolute;
    border-radius: 1000px;

    top:57.5px;
    left:57.5px;
    width:115px;
    height:115px;

    text-align: center;
    background: #ff0015;
    transition: all 0.2s;
    z-index:1;
}

.conceptName:hover {
    cursor:pointer;
}

.concept.selected .conceptName {
    top:0px;
    left:0px;
    width:230px;
    height:230px;
}

.conceptName span {
    position: absolute;
    font-size: 20px;
    top:46px;
    left:0px;
    width:115px;
    transition: all 0.2s;
}

.concept.selected .conceptName span {
    position: absolute;
    font-size: 40px;
    top:95px;
    left:0px;
    width:230px;
}

/* ---------- */

.conceptData {
    position: relative;
    margin-left:-70px;
    height:auto;
    margin-top: 140px;
    overflow:hidden;
    background: rgba(255,255,255,0.5);
    box-shadow: 0px 0px 50px rgba(255,255,255);
    border-radius: 70px;
    transition: opacity 0.1s;
    transition: all 0.2s;
    z-index:0;
}

.concept.selected .conceptData {
    margin-top: 170px;
    animation: appear 0.2s;
}

@keyframes appear {
    0%{opacity:0;margin-top: 140px;}
    100%{opacity:1;margin-top: 170px;}
}

.conceptData > div {
    float:left;
}

.conceptData:before {
    content: ' ';
    position: absolute;
    height:20px;
    width:20px;
    border-radius: 1000px;
    top:calc(100% - 20px);
    right:calc(50% - 10px);
    background:#888;
    z-index: -2;
}
.conceptData:after {
    content: ' ';
    position: absolute;
    height:100%;
    right:calc(50% - 2.5px);
    width:5px;
    background:#888;
    z-index: -2;
}

/* ---------- */

.conceptKeyWords {
    padding-top: 30px;
    padding-bottom:20px;
    width:247px;
}

.conceptInfos {
    padding-top: 60px;
    padding-bottom:20px;
    width:247px;
}

/* ---------- */

.caps {
    font-size: 20px;
    padding: 7px;
    border-radius: 15px;
    width: 200px;
    margin:10px;
    transition: all 0.3s;
}

.caps:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s cubic-bezier(.49,1.41,.68,1.5);
}

.caps.selected:hover {
    transform: scale(1);
}

.caps.selected {
    animation: selected_aniation 0.3s infinite;
}

@keyframes selected_aniation {
    0% {transform:scale(1.03)}
    50% {transform:scale(1)}
    100% {transform:scale(1.03)}
}

/* ---------- */

.info {
    padding-right: 20px !important;
    text-align: right;
    background: #ff3633;
}

.keyword {
    position: relative;
    padding-left:20px !important;
    text-align: left;
    background: #00CAB6;
}

.info.selected {
    background: #e00f0b;
}

.keyword.selected {
    background: rgb(21, 172, 157);
}

/* ---------- */

.btn {
    border-radius: 1000px;
    width:30px;
    height:30px;
    position: absolute;
    top:3px;
    transform: scale(0.01);
    transition:all 0.2s cubic-bezier(.75,-0.5,1,1);
}

.conceptualizeBtn {
    background: #ff0015;
    right: -35px;
}

.alterBtn {
    background: #2db173;
    right: -70px;
}

.removeBtn {
    background: #343d39;
    right: -107px;
    border-radius: 0px;
    height:10px;
    top:12px;
}

.keyword.selected .btn{
    transform: scale(1);
    transition:all 0.2s cubic-bezier(0,0,0,1.75);
}

.keyword.selected .btn:hover {
    transform: scale(1.3);
    transition: all 0.2s cubic-bezier(.49,1.41,.68,1.5);
}